.game-title {
    margin-bottom: 0;
}

.game-tags {
    margin-top: 0;
}

.column .label {
    margin-right: 5px;

    font-size: 0.6em;
}

.keyword {
    font-weight: 700;

    font-style: italic;
}

.project-img {
    height: 350px;
    border-radius: 15px;
}

.project-img-alt {
    height: 100px;
    margin-top: 50px;
}

.btn-container {
    margin-top: 30px;
    margin-right: 15px;

    text-align: center;
}

.btn-buynow {
    background: #539836;
    border-color: #539836;
}

.btn-buynow:hover {
    background: #498430;
    border-color: #498430;
}

.btn-playnow {
    background: #365998;
    border-color: #365998;
}

.btn-playnow:hover {
    background: #33538d;
    border-color: #33538d;
}

.btn-visit {
    background: #994a4a;
    border-color: #994a4a;
}

.btn-visit:hover {
    background: #8d3333;
    border-color: #8d3333;
}